<h2><%= @composition.name %></h2>

<div class="demo" id="sliders">
    <%= render partial: 'sounds/sound', locals: {sound: @composition.sounds[0],
                                            delayTime: 'delayTime',
                                            feedback: 'feedback',
                                            frequency: 'frequency',
                                            reverb: 'reverb',
                                            reverbGain: 'reverbGain',
                                            filter: 'filter',
                                            filterGain: 'filterGain'} %>
    <%= render partial: 'sounds/sound', locals: {sound: @composition.sounds[1],
                                            delayTime: 'delayTime2',
                                            feedback: 'feedback2',
                                            frequency: 'frequency2',
                                            reverb: 'reverb2',
                                            reverbGain: 'reverbGain2',
                                            filter: 'filter2',
                                            filterGain: 'filterGain2'} %>
    <%= render partial: 'sounds/sound', locals: {sound: @composition.sounds[2],
                                            delayTime: 'delayTime3',
                                            feedback: 'feedback3',
                                            frequency: 'frequency3',
                                            reverb: 'reverb3',
                                            reverbGain: 'reverbGain3',
                                            filter: 'filter3',
                                            filterGain: 'filterGain3'} %>
</div>

<%= link_to 'Delete Composition', "/compositions/#{@composition.id}", method: :delete %>
