<div class="demo" id="sliders">
    <%= render partial: 'sound', locals: {sound: @sound1[0],
                                          delayTime: 'delayTime',
                                          feedback: 'feedback',
                                          frequency: 'frequency',
                                          reverb: 'reverb',
                                          reverbGain: 'reverbGain',
                                          filter: 'filter',
                                          filterGain: 'filterGain'} %>
    <%= render partial: 'sound', locals: {sound: @sound2[0],
                                          delayTime: 'delayTime2',
                                          feedback: 'feedback2',
                                          frequency: 'frequency2',
                                          reverb: 'reverb2',
                                          reverbGain: 'reverbGain2',
                                          filter: 'filter2',
                                          filterGain: 'filterGain2'} %>
    <%= render partial: 'sound', locals: {sound: @sound3[0],
                                          delayTime: 'delayTime3',
                                          feedback: 'feedback3',
                                          frequency: 'frequency3',
                                          reverb: 'reverb3',
                                          reverbGain: 'reverbGain3',
                                          filter: 'filter3',
                                          filterGain: 'filterGain3'} %>
</div>


<% if session[:current_user] %>
<%= form_tag '/compositions/create', method: 'post', :id => 'random-form' do %>
    <%= hidden_field_tag(:sound_id1, @sound1[0].id) %>
    <%= hidden_field_tag(:sound_id2, @sound2[0].id) %>
    <%= hidden_field_tag(:sound_id3, @sound3[0].id) %>
    <%= text_field_tag(:name, 'Title') %>
    <%= submit_tag "Save Composition", :class=> 'btn' %>
  <% end %>
<% end %>
