<div class="demo" id="sliders">
  <%= render partial: 'sound', locals: {sound: @sounds[0],
                                delayTime: 'delayTime',
                                feedback: 'feedback',
                                frequency: 'frequency',
                                reverb: 'reverb',
                                reverbGain: 'reverbGain',
                                filter: 'filter',
                                filterGain: 'filterGain'} %>
  <%= render partial: 'sound', locals: {sound: @sounds[1],
                                        delayTime: 'delayTime2',
                                        feedback: 'feedback2',
                                        frequency: 'frequency2',
                                        reverb: 'reverb2',
                                        reverbGain: 'reverbGain2',
                                        filter: 'filter2',
                                        filterGain: 'filterGain2'} %>
  <%= render partial: 'sound', locals: {sound: @sounds[2],
                                        delayTime: 'delayTime3',
                                        feedback: 'feedback3',
                                        frequency: 'frequency3',
                                        reverb: 'reverb3',
                                        reverbGain: 'reverbGain3',
                                        filter: 'filter3',
                                        filterGain: 'filterGain3'} %>
</div>

<% if session[:current_user] %>
  <%= form_tag '/compositions/create', method: 'post' do %>
    <%= hidden_field_tag(:sound_id1, @sounds[0].id) %>
    <%= hidden_field_tag(:sound_id2, @sounds[1].id) %>
    <%= hidden_field_tag(:sound_id3, @sounds[2].id) %>
    <%= text_field_tag(:name) %>
    <%= submit_tag "Save Composition", class: btn %>
  <% end %>
<% end %>
