<!DOCTYPE html>
<html>
<head>
  <title>SPCTRL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <img class="logo" src="http://i.imgur.com/olTjcfC.png">
<!--   <h3>SPCTRL</h3> -->
<p>
  <div id='forms-container'>
  <% if session[:current_user] %>
    <% @current_user ||= User.find(session[:current_user]) %>
    <%= link_to @current_user.username, user_path(@current_user) %> |
    <%= link_to 'Sign Out', logout_path %>
  <% else %>
      <div id='modal'><span id='exit'>X</span></div>
      <span id='login'>Login</span>
      <span id='sign_up'>Sign Up</span>
    </div>
  <% end %>
</p>

  <div id="main_menu">
    <span><%= link_to('home', root_path)%></span><span>//</span><span><%= link_to('canvas', canvas_path)%></span>
    <%= yield %>
    <div id="sound_wrapper"></div>
</body>
<!-- <footer>
  <p>Made with &hearts; by Christiana Lai, Jon Porras, &#038; Michael Ross</p>
</footer> -->
</html>
